
html {
	background-color: #EEEEEE;
}

.loups{
	height: 1000px;
	width: 1000px;
}

.header {
	background-color: #DDDDDD;
	border-radius: 15px;
	margin-left: 20px;
	margin-right: 20px;
	height: 60px;
}

.header p {
	margin: 10px; 
	font-size: 40px;
	position: absolute;
}

.sidebar {
	background-color: #DDDDDD;
	border-radius: 15px;
	width: 275px;
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
	line-height: 1.3;
}

.sidebar p {
	margin: 20px;
	line-height: 20px;
	position: absolute;
}

.sidebar ul{
	margin-top: 40px;
}

.sidebar a {
	text-decoration: none;
}

.indent {
	margin-left: 30px;
	list-style-type: circle;
}

.content {
	background-color: #AAAAAA;
	border-radius: 15px;
	width: 660px;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 20px;
}

.content h1 {
	margin-left: 25px;
}

.content p {
	margin-left: 25px;

}

.content li {
	margin-left: 55px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 1.4;

}

.content a{
	font-weight: bold;
}

.contact {
	background-color: #DDDDDD;
	border-radius: 15px;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;
	height: 50px;
}

.contact p{
	font-size: 15px;
	margin: 10px;
	position: absolute;
	width: 400px;

}

a:visited {
	color: blue;
}
