<html>
<head>
	<title></title>
</head>
<body>
<h2>All the Mongooses!</h2>
<% for (var x in mongs) { %>
	<h3>Name: <%= mongs[x].name %></h3>
	<h3>Age: <%= mongs[x].age %></h3>
	<hr>
<% } %>
<form action='/mongs' method='post'>
	Name: <input type='text' name='name'>
	Age: <input type='text' name='age'>
	<input type='submit' value='Create!'>
</form>
</body>
</html>