<html>
<head>
	<title>Time</title>
	<style type="text/css">
		h4, h1 {
			text-align: center;
		}

		h4 {
			border: 1px solid black;
		}

	</style>
</head>
<body>
	<h4>The current time and date:</h4>
	<h1><%= @time %><br><%= @time2 %></h1>
</body>
</html>