<html>
<head>
	<title></title>
</head>
<body>
	<h1>Edit profile information</h1>
<%  for(var x in mongoose)
		{ %>
			<form action='/edit/<%= mongoose[x]._id %>' method='post'>
				<p>Name: <input type='text' name='name' value='<%= mongoose[x].name %>'></p>
				<p>Belt: <input type='text' name='belt' value='<%= mongoose[x].belt %>'></p>
				<input type='submit' value='Submit Changes'>
			</form>
			<form action='/delete/<%= mongoose[x]._id %>' method='post'>
				<input type='submit' value='Delete User'>
			</form>
<%  } %>
	
</body>
</html>