<html>
<head>
	<title></title>
</head>
<body>
	<h1>Mongooses in Coding Dojo</h1>
	<form action='new' method='post'>
		<input type='submit' value='Add New Mongoose'>
	</form>
	<% for (var x in mongoose){ %>
		<h3>Mongoose Name: <a href="/mongooses/<%= mongoose[x]._id %>"> <%= mongoose[x].name %></a></h3>
<% } %>
</body>
</html>